.filterbar{
    display: flex;
    flex-direction: row;
    width: 85vw;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    padding-right: 2.5vw;
    padding-left: 2.5vw;
    justify-content: flex-start;
    gap: 1vw;
}
.searchbar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}
.searchbarcontainer{
    display:flex;
    flex-direction: column;
    border-bottom: 1px solid hsl(0, 0%, 25%);
    height: 25vh;
    width: 85vw;
}
.mainpage{
    display:flex;
    flex-direction: column;
    width: 85vw;
    height: 100vh;
}
.searchbarinput{
    padding: 1vh;
    justify-content:center;
    align-items: center;
    margin-left: 4.5vw;
}
button.searchButton{
    background-color: hsl(242, 100%, 10%);
    color: hsla(0, 0%, 100%, 0.700);
    padding: 5px;
    border: none;
    cursor: pointer;
    height: 6vh;
    width: 6vw;
    font-size: 2.25vh;
}
button.filterButton{
    margin-right: 4.5vw;
    border-radius: 5px;
    color: hsl(0, 0%, 25%);
    font-size:medium;
    font-weight: bold;
    padding: 1vh;
    border:none;
    cursor: pointer;
    height: 6.5vh;
    width: 6.5vw;
    font-size:2.25vh;
    font-weight: bold;
    box-shadow: 1px 1px 5px hsl(0, 0%, 50%);
}
button.filterButton:hover,button.filterListItem:hover{
    background-color: hsl(0, 0%, 85%);
}
input.Input{
    height: 6vh;
    width: 35vw;
    font-size: 2.25vh;
}
.filterListItem{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    color: hsl(0, 0%, 25%);
    gap: .75vw;
    padding: 1.5vh;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px 5px gray;
}
p.filterbarp{
    color: hsl(0, 0%, 25%);
}