/* stylelint-disable-next-line at-rule-no-unknown */
@tailwind base;
/* stylelint-disable-next-line at-rule-no-unknown */
@tailwind components;
/* stylelint-disable-next-line at-rule-no-unknown */
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: hsl(0, 0%, 100%);
}